*{
    margin:0;
    padding:0;
}

body{
    font-family: 'PT Serif', serif;

    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
/* font-family: 'PT Serif', serif; */
}
/*======================
    FIRST PAGE :CONTAINER
========================*/
.container{
    height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url(images/background.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 0 10%;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.4em;
}
.logo{
    width: 110px;
}

.navbar ul{
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    margin: 10px 25px;
}

.navbar ul li a, .navbar a{
    color:#fff;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: #ff5361;
}

.upload-btn{
    background-color: #ff5361;
    padding: 10px 40px;
    border-radius: 30px;
    margin-right: 25px;
    margin-left: 10px ;

    transition: transform 0.5s;
}

.upload-btn:hover{
    transform: scale(0.9);
}

/*======================
    FIRST PAGE : Main
========================*/

.search-area{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
    color:#fff;

}

.search-area h1{
    font-size: 55px;
    text-transform: capitalize;
    padding-bottom: 25px;
}
.search-area h1 span{
    color : #ff5361;
}

.search-area input{
    width: 90%;
    max-width: 840px;
    height: 55px;
    padding: 0 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1em;
    margin: 20px 0;
}

::placeholder{
    font-weight: 500;
    font-size: 16px;
}

.search-area a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;

}

.search-area a:hover{
    color:#ff5361;
}

/*========================
        GALLERY
=======================*/
.gallery{
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    margin: 40px 0;

}

.gallery h2{
    color:#555555;
    font-weight: 500;
    margin: 20px 12px;
    
}

.masonry{
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    max-height: 1600px;
    width: 100%;
    margin: auto;
}

.m-block{
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    transition:  1s;
}

.m-block img{
    width: 100%;
    transition: transform 1s;
    display: inline-block;
    overflow: hidden;
    
    box-sizing: border-box;
}

.m-block img:hover{
    transform: scale(1.08);
    border: 1.5px solid #ff5361;
    
}
/* explor btn */
.explore-more{
    display: block;
    width: 50%;
    max-width: 350px;
    padding: 14px 0;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    background-color: #ff5361;
    color:#fff;
    margin: 60px auto ;
    text-align: center;
    font-size: 18px;
    transition: transform 1s;
}

.explore-more:hover{
    transform: scale(0.9);
}

/*==================
        customers
==================**/

.customers{
    width: 100%;
    margin: 80px 0;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;

}

.customers h2{
    color: #555;
    text-align: center;

}

.customers-row{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.customers-col{
    box-sizing: border-box;
    flex-basis: 25%;
    margin: 40px 0;
}

.customers-col img{
    width: 90%;
    transition: transform 1s;
    cursor: pointer;
}

.customers-col img:hover{
    transform: scale(1.09);
}

/*=============
    ABOUT US
===================*/

.about-us{
    box-sizing: border-box;
    width: 100%;
    margin: 80px 0;
    padding: 0 10%;
}

.about-us h2{
    font-size: 30px;
    color: #535353;
    text-align: center;
    margin: 40px 0;;
}

.about-us p{
    color: #888;
    line-height:3.8vh;
}

.copyright{
    height: 80px;
    background-color: #ebebeb;
    color:#535353;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}